<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    
    <link type="text/css"  href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <link type="text/css" href="~/Content/font/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <link type="text/css" href="~/Content/CSS/local.css" rel="stylesheet" />


    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    

</head>
<body>
<div class="container">
    @RenderBody()
</div>
    @RenderSection("head", required: false)
</body>
</html>
