@using SignalSystem.Libs;
@using SignalSystemApp.Views.Classes;

@{
    string message = string.Empty;

    string formAction = UtilityLibrary.GetBaseURL() + "TelephoneUser/AddNewTelephoneUser";
    if (ViewData["Message"] != null)
    {

        if (ViewData["Message"].ToString().Contains("Error"))
        {
            message = "<div class=\"alert alert-dismissible alert-danger\" style=\"color: green;\"> "
            + "<button data-dismiss=\"alert\" class=\"close\" type=\"button\">&times;</button>" + ViewData["Message"].ToString() + "</div>";
        }
        else
        {
            message = "<div class=\"alert alert-dismissible alert-success\" style=\"color: black;;\"> "
            + "<button data-dismiss=\"alert\" class=\"close\" type=\"button\">&times;</button>" + ViewData["Message"].ToString() + "</div>";
        }

    }

    List<Dictionary<string, string>> ranks = FrameworkItems.GetRanks();    
    string optionsRank = string.Empty;
    foreach (Dictionary<string, string> rank in ranks)
    {
        optionsRank += "<option value=\"" + rank["ID"] + "\">" + rank["Value"] + "</option>";
    }
    List<Dictionary<string, string>> serviceStatus = FrameworkItems.GetServiceStatus();
    string optionsServiceStatus = string.Empty;
    foreach (Dictionary<string, string> aserviceStatus in serviceStatus)
    {
        optionsServiceStatus += "<option value=\"" + aserviceStatus["ID"] + "\">" + aserviceStatus["Value"] + "</option>";
    }
}

<style>
    div {
        padding-bottom: 20px;
    }
</style>





<div>
    <div class="row text-center">
        <h2>Add Telephone User</h2>
    </div>
     <div>
        @Html.Raw(message)
    </div>

    <form method="post" action="@formAction">

        <div>
            <label for="banumber" class="col-md-2">
                BA Number:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="banumber" placeholder="Enter BA Number" name="BANumber" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="name" class="col-md-2">
                Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="FullName" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="appointment" class="col-md-2">
                Appointment:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="appointment" placeholder="Enter Appointment" name="Appointment" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="plate-name" class="col-md-2">
                Plate Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="plate-name" placeholder="Enter Plate Name" name="PlateName" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="rank" class="col-md-2">
                Rank:
            </label>
            <div class="col-md-9">
                <select name="rank" id="rank" class="form-control" name="rank">
                    <option>--Please Select--</option>           
                    @Html.Raw(optionsRank)
                </select>
            <input type="hidden" class="form-control" id="rankID" name="RankID" required>
            </div>
        </div>
        <div>
            <label for="unit" class="col-md-2">
                Unit:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="unit" placeholder="Enter Unit Name" name="Unit">
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="ServiceStatus" class="col-md-2">
                Service Status:
            </label>
            <div class="col-md-9">
                <label class="radio">
                    <input type="radio" name="ServiceStatus" id="OnService" value="On Service" name="OnService"  checked>
                    On Service
                </label>
                <label class="radio">
                    <input type="radio" name="ServiceStatus" id="LPR" value="LPR" >
                    LPR
                </label>
            </div>
            @*<div class="col-md-9">
                <select id="user-role" class="form-control" name="ServiceStatus">
                    <option>--Please Select--</option>
                    @Html.Raw(optionsServiceStatus)
                </select>
            </div>*@
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
    <div>
        <label for="joining-date" class="col-md-2">
            Joining Date:
        </label>
        <div class="col-md-9">
            <input type="text" id='datepicker1' class="form-control" placeholder="Enter Joining Date" name="JoiningDate"style="color: black;width: 200px;" required> 
        </div>
        <div class="col-md-1">
               
            @*  <i class="fa fa-lock fa-2x"></i>*@
        </div>
    </div>
    <div id="LPRDate">
            <label for="lpr-date" class="col-md-2">
                LPR Date:
            </label>
            <div class="col-md-9" >
                <input type="text" id='datepicker2' class="form-control" placeholder="Enter LPR Date" name="LPRDate" style="color: black; width: 200px;"> 
            </div>
        <div class="col-md-1">  
            @*<i class="fa fa-lock fa-2x"></i>*@
        </div>
        </div>
     <div>
            <label for="office-address" class="col-md-2">
               Office Address:
            </label>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="office-address" placeholder="Enter Office Address" name="OfficeAddress" required></textarea>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
     <div>
            <label for="home-address" class="col-md-2">
               Presenet Address:
            </label>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="home-address" placeholder="Enter Home Address" name="PresentAddress" required></textarea>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
     <div>
            <label for="permanent-address" class="col-md-2">
               Permanent Address:
            </label>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="permanent-address" placeholder="Enter Permanent Address" name="PermanentAddress" required></textarea>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
     <div>
            <label for="personal-phone" class="col-md-2">
               Personal Phone:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="personal-phone" placeholder="Enter Personal" name="PersonalPhoneNumber" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="emailaddress" class="col-md-2">
                Email address:
            </label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="emailaddress" placeholder="Enter email address" name="EmailAddress" required>
                <p class="help-block">
                    Example: yourname@domain.com
                </p>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="sex" class="col-md-2">
                Gender:
            </label>
            <div class="col-md-10">
                <label class="radio">
                    <input type="radio" name="Sex" id="sex" value="male" name="male" checked >
                    Male
                </label>
                <label class="radio">
                    <input type="radio" name="Sex" id="sex" value="female">
                    Female
                </label>
            </div>
        </div>
        <div>
            <label for="marriage" class="col-md-2">
                Marritial Status:
            </label>
            <div class="col-md-10">
                <label class="radio">
                    <input type="radio" name="MaritalStatus" id="sex" value="unmarried" name="unmarried" checked >
                    Unmarried
                </label>
                <label class="radio">
                    <input type="radio" name="MaritalStatus" id="sex" value="married">
                    Married
                </label>
            </div>
        </div>
       @* <div>
            <label for="uploadimage" class="col-md-2">
                Upload Image:
            </label>
            <div class="col-md-10">
                <input type="file" name="uploadimage" id="uploadimage">
                <p class="help-block">
                    Allowed formats: jpeg, jpg, gif, png
                </p>
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-info" style="width: 200px;">
                    Add
                </button>
            </div>
        </div>
    </form>
</div>     

 <script type="text/javascript"> 

     $(document).ready(function () {
         $('#LPRDate').hide();  
         $("#rank").on("change", function () {
             $("#rankID").val(jQuery("#rank option:selected").val());
         }); 
         $("input[name='ServiceStatus'").change(function () {
             if ($("input[name='ServiceStatus']:checked").val() != "LPR") {
                 $("#datepicker2").val("");
                 $('#LPRDate').hide(0);
             } else {
                 $('#LPRDate').show(0);
             }
         });                                  
         
     });

     $(function() {
         $('#datepicker1').datepicker({
             changeMonth: true,
             changeYear: true,
             yearRange: '1950:2050' ,
             dateFormat: 'dd/mm/yy'

         });
         $('#datepicker2').datepicker({
             changeMonth: true,
             changeYear: true,
             yearRange: '1950:2050',
             dateFormat: 'dd/mm/yy'
         });
     });
 </script>