@using SignalSystem.Libs
@using SignalSystemApp.Models.Equipment
@using SignalSystemApp.Models.Mail
@using SignalSystemApp.Views.Classes

@{
    string submitNewMailAction = UtilityLibrary.GetBaseURL() + "Mail/AddNewMail";

    string message = string.Empty;

    if (ViewData["message"] != null)
    {
        message = ViewData["message"].ToString();
    }
    List<Dictionary<string,string>> Stations = FrameworkItems.GetLocations();
    string locations = string.Empty;
   
        foreach (Dictionary<string,string> station in Stations)
        {
            locations += "<option value=\"" + station["ID"] + "\">" + station["Value"] + "</option>";
        } 
    

    if (message.Trim().Length != 0)
    {
        if (message.Contains("Error"))
        {
            message = "<div class=\"alert alert-dismissible alert-danger\" style=\"color: green;\">" +
                       "<button data-dismiss=\"alert\" class=\"close\" type=\"button\" style=\"padding-right: 10px; color: blue;\">&times;</button>" +
                       message + "</div>";
        }
        else
        {
               message = "<div class=\"alert alert-dismissible alert-success\" style=\"color: black;\">" +
                       "<button data-dismiss=\"alert\" class=\"close\" type=\"button\" style=\"padding-right: 10px; color: blue;\">&times;</button>" +
                       message + "</div>";
        }

    }

}




<div class="row">
    <div class="col-lg-12">
        @Html.Raw(message)
    </div>
 </div>

<form method="POST" action="@submitNewMailAction">
    <div class="row text-center">
        <h2>Add New Mail</h2>
    </div>

    <div id="table-container-div">
        <div>
        <label for="mailid" class="col-md-2">
            Mail ID:
        </label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="mailid" placeholder="Mail ID" name="mailId">
        </div>
        <div class="col-md-1">
            <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="description" class="col-md-2">
                Description:
            </label>
            <div class="col-md-9">
                <textarea class="form-control" id="mailDescription" name="mailDescription"></textarea>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="dateArrival" class="col-md-2">
                Arrival Date:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="dateArrival" name="dateArrival">
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="dateDepurture" class="col-md-2">
                Departure Date:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="dateDepurture" name="dateDepurture">
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="mailFrom" class="col-md-2">
                Mail From:
            </label>
            <div class="col-md-9">
                <select  id="mailFrom" class="form-control" name="mailFrom">
                    <option value="-1">--Please Select--</option>
                    @Html.Raw(locations)
                </select>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="mailTo" class="col-md-2">
                Mail To:
            </label>
            <div class="col-md-9">
                <select  id="mailTo" class="form-control" name="mailTo">
                    <option value="-1">--Please Select--</option>
                    @Html.Raw(locations)
                </select>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div> 
        <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <button type="submit" class="btn btn-info custom-btn">
                Add
            </button>
        </div>
    </div>
    </div>
</form>

@section head{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.yadcf.js"></script>

}


<style>
	div {
		padding-bottom: 20px;
	}

	.custom-btn {
		width: 200px !important;
	}
</style>


<script>


	$(document).ready(function () {
		var endDate = new Date();
		var oldDate = new Date();
		var arrivalDatePicker = $('#dateArrival');

		arrivalDatePicker.datepicker({
			controlType: 'select',
			oneLine: true,
			timeFormat: 'hh:mm tt',
			dateFormat: 'dd/mm/yy',
			maxDate: endDate,

		});
		arrivalDatePicker.datetimepicker('setDate', (new Date()));
		var departureDatePicker = $('#dateDepurture');

		$("#dateArrival").on("change", function() {
		               // console.log('inp changed');
                        oldDate = $('#dateArrival').datepicker('getDate');
                        departureDatePicker.datetimepicker('option', 'minDate', new Date(oldDate));
            });

		


		departureDatePicker.datepicker({
			controlType: 'select',
			oneLine: true,
			timeFormat: 'hh:mm tt',
			dateFormat: 'dd/mm/yy'

		});
		departureDatePicker.datetimepicker('setDate', (new Date()));



	});
</script>






