<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>Resolved Complain <small>List of Resolved Complain</small></h1>

        </div>
    </div>
    <div class="row">
        <form action="" method="">
            <div class="col-lg-3">
                <input type="text" class="form-control" id="search" placeholder="Search Phone Number">
            </div>
            <div class="col-lg-2">
                <a href="#" class="btn btn-info btn-block"><span class="glyphicon glyphicon-search"></span> Search</a></br>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Resolved Complains</h3>
                </div>
                <div class="panel-body">

                    <div id="shieldui-grid1">
                        <table style="width:100%" border="1">
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Phone Number</th>
                                <th>Rank</th>
                                <th>Complain date & time</th>
                                <th>Resolved date & time</th>
                                <th>Complain Type</th>
                                <th>Resolved by</th>
                                <th>Remark</th>
                                <th>Complain</th>
                                <th>Status</th>
                                <th>Action Taken</th>
                            </tr>
                            <tr>
                                <td>Eve</td>
                                <td>Jackson</td>
                                <td>91234</td>
                                <td>Major</td>
                                <td>21:30 </td>
                                <td>22:30 </td>
                                <td>Disconnected</td>
                                <td>Habib</td>
                                <td>Second time</td>
                                <td><a href="" data-toggle="modal" data-target="#complain">View</a></td>



                                <!-- Complain Modal -->
                                <div id="complain" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Complain Details</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>This is the complain details.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Modal -->

                                <td><span class="label label-success">Resolved</span></td>
                                <td><a href="" data-toggle="modal" data-target="#resolved">View</a></td>

                                <!-- Resolved Modal -->
                                <div id="resolved" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Action Taken</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>This is the action taken.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Modal -->


                            </tr>
                        </table>
                        </br><label>Total Resolved Complains: 1</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

