
@using SignalSystem.Libs;
@using SignalSystemApp.Views.Classes;
@{
    string formAction = UtilityLibrary.GetBaseURL() + "Telephone/AssignTelephone";
    List<Dictionary<string, string>> ranks = FrameworkItems.GetRanks();

    List<UserRole> roles = FrameworkItems.GetRoles(Session);


    string optionsRank = string.Empty;
    foreach (Dictionary<string, string> rank in ranks)
    {
        optionsRank += "<option value=\"" + rank["ID"] + "\">" + rank["Value"] + "</option>";
    }



    string message = string.Empty;
    if (ViewData["Message"] != null)
    {

        if (ViewData["Message"].ToString().Contains("Error"))
        {
            message = "<div class=\"alert alert-dismissible alert-danger\" style=\"text-color: blue;\"> "
            + "<button data-dismiss=\"alert\" class=\"close\" type=\"button\">&times;</button>" + ViewData["Message"].ToString() + "</div>";
        }
        else
        {
            message = "<div class=\"alert alert-dismissible alert-success\"> "
            + "<button data-dismiss=\"alert\" class=\"close\" type=\"button\">&times;</button>" + ViewData["Message"].ToString() + "</div>";
        }

    }
}








<style>
    div {
        padding-bottom: 20px;
    }
</style>




<div>
    <div class="row text-center">
        <h2>Add New Number</h2>
    </div>
    <div>
        @Html.Raw(message)
    </div>
    <form method="post" action="@formAction">

        <div>
            <label for="banumber" class="col-md-2">
                BA Number:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="banumber" placeholder="BA Number" name="baNumber">
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="name" class="col-md-2">
                Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="rank" class="col-md-2">
                Rank:
            </label>
            <div class="col-md-9">
                <select name="rank" id="rank" class="form-control" name="rank">
                    <option>--Please Select--</option>
                    @Html.Raw(optionsRank)
                </select>
            </div>
        </div>
        <div>
            <label for="phone" class="col-md-2">
                New Phone Number:
            </label>
            <div class="col-md-9">
                <input class="form-control" id="phone" placeholder="Enter Phone Number Here" name="telephoneNumber">
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="address" class="col-md-2">
                Address:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address">
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="sex" class="col-md-2">
                Gender:
            </label>
            <div class="col-md-10">
                <label class="radio">
                    <input type="radio" name="sex" id="sex" value="male" checked>
                    Male
                </label>
                <label class="radio">
                    <input type="radio" name="sex" id="sex" value="female">
                    Female
                </label>
            </div>
        </div>
        @*<div>
            <label for="uploadimage" class="col-md-2">
                Upload Image:
            </label>
            <div class="col-md-10">
                <input type="file" name="uploadimage" id="uploadimage">
                <p class="help-block">
                    Allowed formats: jpeg, jpg, gif, png
                </p>
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-info" style="width: 200px;">
                    Assign Telephone
                </button>
            </div>
        </div>
    </form>


</div>
